header {
    background-color: rgb(148, 104, 202);
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:black; text-decoration: none;}
.bar {
    background-color: #b9b9b9a7;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
   
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(89, 89, 201);
    min-height: 20px;
    border-top: solid 1px #cdcdcd;
    color: white;
}
.anchors {
    background-color: #b9b9b9;
    border-left: solid 1px #b9b9b9;
    padding-left: 15px;
}
.sidebar {
    background-color: #b9b9b9;
    border-right: solid 1px #b9b9b9;
}
figure {
    text-align: center;
}